body.dark-mode {
  background-color: #181818;
  color: #f1f1f1;
}

body.dark-mode .card {
  background-color: #262626;
  color: #f1f1f1;
}

body.dark-mode .form-control,
body.dark-mode .form-select {
  background-color: #333;
  color: #f1f1f1;
  border: 1px solid #555;
}

body.dark-mode .btn-primary {
  background-color: #444;
  border-color: #444;
}

body.dark-mode .expense-card {
  background-color: #262626;
  color: #f1f1f1;
}

#toggle-dark-mode {
  z-index: 9999;
}
